body{
    background-color: #A98B98;
}
.container1{
    display: flex;
    background-color: #4E3D53;
    min-height: 5vh;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position:fixed;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    top: 0;
    left: 0;
    right: 0;
    /* min-width: 100vh; */
}

.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 0;
    bottom: 0;
}

.container2{
    /* padding-top: 5%; */
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10vh;
    /* background-color: black; */
    color: #0F1123;
    font-family: "Audiowide", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: larger;
    text-align: center;
    
}

.home-button{
    min-width: 50%;
    margin-right: auto;
    /* margin-left: 0; */
}

.top-anchor{
    padding: 1rem;
}

.foot-anchor{
    padding: 1rem;
}

.label{
    color: #A6F0C6;
}

.date{
    margin-top: 0px;
    border-top: 0px;
}

.employer{
    margin-bottom: 0px;
}

.subs-item{
    margin-top: 20%;
}

.coming-soon{
    margin-top: 50vh;
    min-height: 30vh;
    color: #0F1123;
    font-family: "Audiowide", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: larger;
    text-align: center;
}

a{
    /* color: #4E3D53; */
    color: #A6F0C6;
    font-family: "Audiowide", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size:x-large;
    text-decoration: none;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}

#game{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: end; */
    border: 5px solid #A6F0C6;
    margin: auto;
    margin-top: 6%;
    background-color: #0F1123;
    height: 70vh;
    width: 70vh;
}

#character{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    align-items: center;
    /* margin-bottom: 3vh; */
    width: 3rem;
    height: 3rem;
}
@media (max-width: 1000px) {
    
    .container2{
        padding-left: 10%;
        padding-right: 10%;
    }

    h1{
        font-size: 4rem;
    }
    
    h2{
        font-size: 3rem;
    }
    
    h3{
        font-size: 2rem;
    }
    
    p{
        font-size: 1rem;
    }

    #game{
        background-color: #A98B98;
        border: 0;
    }
    #character{
        display: flex;
        flex-direction: column;
        background-color: yellow;
        align-items: center;
        /* margin-bottom: 3vh; */
        width: 0;
        height: 0;
    }
  }
